@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
#ctitle,
text {
  font-family: 'Noto Sans TC', sans-serif;
}
body {
  width: 95vmin;
}

/* Stats */
#stats {
  position: fixed;
  bottom: 0;
  right: 0;
}
#stats div {
  position: relative;
}

/* Main */
.wrapper {
  width: 100vw;
  height: 200vh;
  background: #000;
}
#container {
  margin: 10px 20px;
  border: 1px dashed #E60;
  display: inline-block;
  background: #333;
}
text {
  font-weight: 700;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
rect {
  fill: transparent;
}

/* Canvas */
.dot-cont {
  max-width: 470px;
  overflow: hidden;
}
#chart-cont {
  position: relative;
}
#chart {
  width: 470px;
  height: auto;
  position: relative;
}
canvas {
}
.control {
  display: inline-block;
  vertical-align: top;
}
#ctitle {
  height: 2.5em;
  padding: 0 12px;
  font-size: 16px;
  
}
.annotation {
  width: 470px;
  height: 100%;
}
.annotation text{
  font-size: 1.2em;
  text-shadow: 0 1px 0 #AAA;
}

/* Control */
#nav-group {
  display: inline-block;
  /*clear: both;*/
}
.nav-page {
  width: 2em;
  height: 2em;
  margin: 3px;
  padding: 5px;
  border: 2px solid #4891B8;
  font-size: 1.2em;
  line-height: 1;
  border-radius: 50%;
  background: #FFF;
  color: #333;
}
.nav-page.active {
  background: #4891B8;
  color: #FFF;
}
#prev-page,
#next-page {
  width: 40px;
  height: 40px;
  margin: 0 3px 0 0;
  padding: 0;
  border: 0;
  text-indent: -9999px;
  display: inline-block;
  position: relative;
  line-height: 1;
  background: #FFF;
  color: #333;
}
#prev-page:before,
#next-page:before {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  top: 0;
  left: 0;
}
#prev-page:before {
  border-right-color: #4891B8;
}
#next-page:before {
  border-left-color: #4891B8;
}
@media screen and (max-width: 470px) {
  #ctitle {
    height: 3.5em;
  }
}